language: node_js
node_js:
  - '10'
  - '11'
  - '12'
  - '13'
  - '14'

before_script:
  - npm install react@latest react-dom@latest
  - npm install codecov -g

after_success:
  - npm run test:coverage
  - codecov -f coverage/*.json
  - bash <(curl -s https://codecov.io/bash)
